body {
    background-color: #1a1a1a;
    color: white;
    font-family:'EB Garamond', serif;
    font-size: 20px;
}
h1 {
    font-family:'EB Garamond', serif;
    font-size: 80px;
}
h2, h3 {
    font-family:'EB Garamond', serif;
    font-size: 30px;
}
.jumbotron {
    background-color: #1a1a1a !important;
}

@media only screen and (max-width: 480px) {
    .jumbotron {
        padding: 10px 0px 50px 0px;
    }
}
@media only screen and (min-width: 768px) {
    .jumbotron {
        padding: 200px 0px 300px 0px;
    }
}
.page-header {
    padding-bottom: 100px;
    margin: 40px 0 20px;
    border: none;
}
.nav > li > a {
  color: #fff !important;
}
.nav > li > a:hover {
    background-color: #1a1a1a !important;
    color: #fff !important;
    text-decoration: underline;
}
.pad {
    padding: 0 15px;
}

#instafeed {
    padding: 10px 0px 10px 0px;
}

#instafeed img {
    padding: 4px;
    border: #1a1a1a solid 2px;
    background-color: white;
}
